{% extends 'base_login.html' %}
{% load static %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 500px;">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-3"><i class="bi bi-headset"></i> ¡Contáctanos!</h4>
        </div>
        <form method="POST"> 
            {% csrf_token %}
            <div class="mt-2">
                <label for="" class="form-label">Nombres</label>
                <input type="text" name="nombre" class="form-control" maxlength="70" required>
            </div>
            <div class="mt-2">
                <label for="" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" maxlength="70" required>
            </div>
            <div class="mt-2">
                <label for="" class="form-label">Asunto</label>
                <input type="text" name="asunto" class="form-control" maxlength="70" required>
            </div>
            <div class="mt-2">
                <label for="" class="form-label">Mensaje</label>
                <textarea class="form-control" name="mensaje" cols="10" rows="2"></textarea>
            </div>
            {% if user.is_authenticated %}
            <div class="mt-2 text-end">
                <a href="{% url 'apps:index' %}" class="small text-decoration-none">
                    <i class="bi bi-houses-fill"></i>
                    Volver
                </a>
            </div>
            {% else %}
            <div class="mt-2 text-end">
                <a href="{% url 'login' %}" class="small text-decoration-none">Iniciar sesión</a>
            </div>
            {% endif %}
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-envelope-check-fill"></i> Enviar
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
{% if messages %}
<script>
    {% for message in messages %}
        Swal.fire({
            icon: "{% if message.tags == 'success' %}success{% else %}warning{% endif %}",
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 1500,
            position: 'top-end',
            toast: true,
            timerProgressBar: true,
        })
    {% endfor %}
</script>
{% endif %}
{% endblock %}